@import 'scss/loader';

html {
  box-sizing: border-box;
  font-size: 18px;
  --main-dark: hsl(261, 100%, 57%);
  --main-light: hsl(261, 100%, 81%);
  --main-lighter: hsl(261, 100%, 95%);
  --dusk: #3e396b;
  --link: #41d3bd;
  --success: #2cbe4e;
  --warning: #cb2431;
  --cta-lightness-normal: 63%;
  --call-to-action: hsl(47, 100%, 63%);
  --border-radius: 4px;
  --max-width: 520px;
  --header-height: 3rem;
  --footer-height: 4rem;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: var(--dusk);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body,
h1,
h2,
ul {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}
a {
  color: var(--link);
}
header {
  background-color: var(--main-dark);
  color: white;
  height: var(--header-height);
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    a {
      color: white;
      text-decoration: none;
    }
    svg {
      fill: white;
    }
    h1 {
      font-size: 1rem;
    }
  }
}
.pull-request-form-container {
  background-color: var(--main-dark);
  color: white;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  padding: 1rem 0 0 0;
  display: flex;
  transition: all 0.5s;
  &.collapse {
    padding: 2rem 0;
    min-height: 260px;
  }
  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 0 0.5rem;
    text-align: center;
    > label,
    input,
    button {
      margin: 0.5rem 0;
    }
    input {
      padding: 0.75rem;
      border-radius: var(--border-radius);
      border: none;
      width: 100%;
    }
    button {
      background-color: var(--call-to-action);
      border: none;
      padding: 0.75rem 1rem;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: var(--border-radius);
      cursor: pointer;
      transition: background-color 0.5s;
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.error-msg {
  color: var(--warning);
  background-color: var(--main-lighter);
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid currentColor;
  box-shadow: none;
  animation: appear 0.5s ease forwards;
}

#info {
  background-color: #f5f6f7;
  border-bottom: 1px solid #dddfe2;
  padding: 0.5rem 0;
  .repo-info {
    padding: 0 1rem;
    max-width: var(--max-width);
    .info-title {
      font-size: 0.85rem;
      color: var(--link);
      font-weight: bold;
    }
  }
  .pr-info {
    padding: 0 1rem;
    max-width: var(--max-width);
    display: flex;
    align-items: baseline;
    .info-title {
      margin: 0 0.25rem;
    }
    .pr-state {
      font-size: 0.5rem;
      color: white;
      padding: 0.15rem 0.25rem;
      border-radius: var(--border-radius);
      text-transform: uppercase;
      margin-left: 0.25rem;
      &.open {
        background-color: var(--success);
      }
      &.closed {
        background-color: var(--warning);
      }
    }
  }
  a {
    color: var(--dusk);
    text-decoration: none;
  }
}

.repo-info,
.pr-info {
  margin: 0.25rem auto;
  max-width: var(--max-width);
}
.reviewers-wrapper {
  list-style: none;
  padding: 0.5rem;
  max-width: var(--max-width);
  margin: 0 auto 1rem auto;
  h2.reviewers-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 1rem 0;
  }
  .user {
    margin: 0.5rem auto;
    border: 1px solid var(--main-light);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    transition: background-color 0.5s;
    color: var(--dusk);
    display: grid;
    grid-column-gap: 0.5rem;
    align-items: center;
    grid-template-columns: 48px 1fr;
    grid-template-areas:
      'avatar username'
      'avatar userlogin';
    p {
      margin: 0;
    }
    .user-avatar-link {
      grid-area: avatar;
      img {
        width: 48px;
        display: block;
      }
    }
    .user-name {
      grid-area: username;
      font-weight: bold;
    }
    .user-login-link {
      text-decoration: none;
      grid-area: userlogin;
      font-size: 0.85rem;
      color: var(--link);
      .user-login:before {
        content: '@';
      }
    }
  }
  .user:hover {
    background-color: var(--main-lighter);
  }
}

footer {
  font-size: 0.75rem;
  background-color: var(--main-dark);
  height: var(--footer-height);
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  p {
    margin: 0;
  }
}
