@import 'scss/loader';

html {
  box-sizing: border-box;
  font-size: 18px;
  --main-dark: rgb(111, 35, 255);
  --main-light: rgb(192, 158, 255);
  --main-lighter: rgb(241, 235, 252);
  --dusk: #3e396b;
  --link: #41d3bd;
  --success: #2cbe4e;
  --warning: #cb2431;
  --call-to-action: #ffd540;
  --border-radius: 4px;
  --max-width: 520px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--dusk);
}
body,
h1,
h2,
ul {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}
header {
  background-color: var(--main-dark);
  color: white;
}

header {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0 1rem;
    svg {
      fill: white;
    }
    h1 {
      font-size: 1rem;
    }
  }
  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3rem);
    justify-content: center;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 0 0.5rem;
    text-align: center;
    transition: height 0.5s;
    > label,
    input,
    button {
      margin: 0.5rem 0;
    }
    input {
      padding: 0.75rem;
      border-radius: var(--border-radius);
      border: none;
      width: 100%;
    }
    button {
      background-color: var(--call-to-action);
      border: none;
      padding: 0.75rem 1rem;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: var(--border-radius);
      cursor: pointer;
      transition: filter 0.5s;
      &:hover {
        filter: brightness(1.15);
      }
    }
  }
}

.error-msg {
  color: var(--warning);
  background-color: var(--main-lighter);
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid currentColor;
}

#info {
  background-color: #f2f2f2;
  padding: 0.5rem 0;
  .repo-info {
    padding: 0 1rem;
    max-width: var(--max-width);
    .info-title {
      font-size: 0.85rem;
      color: var(--link);
    }
  }
  .pr-info {
    padding: 0 1rem;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    .info-title {
      margin: 0 0.25rem;
    }
    .pr-state {
      font-size: 0.5rem;
      color: white;
      padding: 0.15rem 0.25rem;
      border-radius: var(--border-radius);
      text-transform: uppercase;
      &.open {
        background-color: var(--success);
      }
      &.closed {
        background-color: var(--warning);
      }
    }
  }
  a {
    color: var(--dusk);
    text-decoration: none;
  }
}

.repo-info,
.pr-info {
  margin: 0.25rem auto;
  max-width: var(--max-width);
}
.reviewers {
  list-style: none;
  padding: 0.5rem;
  max-width: var(--max-width);
  margin: 0 auto;
  .user {
    margin: 0.5rem auto;
    border: 1px solid var(--main-light);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    transition: background-color 0.5s;
    color: var(--dusk);
    display: grid;
    grid-column-gap: 0.5rem;
    align-items: center;
    grid-template-columns: 48px 1fr;
    grid-template-areas:
      'avatar username'
      'avatar userlogin';
    p {
      margin: 0;
    }
    .user-avatar-link {
      grid-area: avatar;
      img {
        width: 48px;
        display: block;
      }
    }
    .user-name {
      grid-area: username;
      font-weight: bold;
    }
    .user-login-link {
      text-decoration: none;
      grid-area: userlogin;
      font-size: 0.85rem;
      color: var(--link);
      .user-login:before {
        content: '@';
      }
    }
  }
  .user:hover {
    background-color: var(--main-lighter);
  }
}

.hide {
  display: none;
}
