#user-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 1rem 0;
    color: white;
    background-color: #6c37fc;
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 42px 1fr;
    grid-gap: 1rem;
    grid-template-areas:
      'name name'
      'avatar login';
  }
  .avatar {
    max-width: 42px;
    border-radius: 1rem;
    grid-area: avatar;
  }
  .name {
    font-size: 1.25rem;
    font-weight: bold;
    grid-area: name;
  }
  .login {
    grid-area: login;
  }
  a {
    color: white;
  }
}
